.generalView {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 6rem; */
    height: 100vh;
}

.menuNavigationButton {
    width: 60px;
    align-content: center;
    text-align: center;
}

.fillSvg {
    fill: white;
}

.menuNavigationButton:hover {
    background-color: white;
}

.menuNavigationButton:hover .fillSvg {
    fill: rgb(198, 187, 42);
}

.main {
    display: flex;
    width: 100%;
    height: 100%;
}

.container {
    padding: 32px;
    width: 100wh;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonCustomStyle {
    height: 100%;
    background-color: unset;
    border: unset;
    color: white;
    padding: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    flex-wrap: nowrap;
}

.buttonCustomStyle:hover {
    color: rgb(198, 187, 42);
    background-color: white;
}

.appBar {
    width: 100%;
    display: flex;
    place-content: space-between;
    min-height: 50px;
    background-color: rgb(198, 187, 42);
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.generalLink {
    color: blue
}

.testContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ul {
    display: flex;
    list-style: none;
    flex-flow: wrap;
    gap: 10px 10px;
}

.title {
    color: rgb(198, 187, 42);
    margin: 20px 0;
}

.input {
    height: 30px;
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid #b7d2d3;
    background-color: #fbfbfb;
}

.button {
    composes: input;
    margin-top: 16px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.button:active {
    background-color: #d3d3d37a;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.buttonLink {
    composes: button;
    margin: 20px;
}

.navigationBar {
    min-width: 60px;
    background-color: #FFFFFF;
}

.navigationBarOpened {
    width: 240px;
    background-color: #FFFFFF;
    /* background-color: rgb(58, 198, 42); */
}

.navigationButon {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigationOpenButon {
    composes: navigationButon;
    padding: 0 32px;
    justify-content: flex-start;
}