.link {
  margin-top: 32px;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.main-content {
  display: flex;
  width: 100%;
  height: calc(100% - 50px);
}

.resources-container {
  width: 100%;
  display: flex;
  place-content: baseline;
  flex-wrap: wrap;
  gap: 16px 32px;
}

.resources-container .book {
  list-style: none;
  width: 210px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.resources-container .book .thumbContainer {
  position: relative;
  height: 270px;
  min-width: 72px;
}

.resources-container .book .thumbContainer .thumb {
  filter: drop-shadow(rgba(0, 0, 0, 0.34) 0px 2px 10px);
  background-size: contain;
  z-index: -1;
  right: 0px;
  position: absolute;
  bottom: 0px;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  top: 0px;
  left: 0px;
  height: fit-content;
  margin-top: auto;
}

.resources-container .book .thumbContainer .thumb img {
  width: 100%
}

.resources-container .book .book-title {
  overflow-wrap: anywhere;
  margin-top: 20px;
}

.resources-container .book .book-author {
  overflow-wrap: anywhere;
  margin-top: auto;
}

.page-container {
  padding: 32px 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.appBar {
  width: 100%;
  display: flex;
  place-content: space-between;
  min-height: 50px;
  background-color: rgb(58, 198, 42);
}

.appBar .appbar-btn {
  height: 100%;
  background-color: unset;
  border: unset;
  color: white;
  padding: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  flex-wrap: nowrap;
}

.appBar .appbar-btn:hover {
  color: rgb(58, 198, 42);
  background-color: white;
}

.appBar .items-list {
  display: flex;
  list-style: none;
  flex-flow: wrap;
  gap: 10px 10px;
}

.section-title {
  color: rgb(58, 198, 42);
  margin: 20px 0;
}

.navigation-menu {
  min-width: 60px;
  background-color: #FFFFFF;
}

.navigation-menu.open {
  width: 240px;
}

.menu-navigation-button {
  width: 60px;
  align-content: center;
  text-align: center;
}

.menu-navigation-button .fill-svg {
  fill: white;
}

.menu-navigation-button:hover {
  background-color: white;
}

.menu-navigation-button:hover .fill-svg {
  fill: rgb(58, 198, 42);
}

.navigation-button {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.navigation-button.open {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0 32px;
  justify-content: flex-start;
}

.navigation-button.active {
  background-color: rgb(58, 198, 42);
  border-top: 1px solid white;
}

.navigation-button.active span {
  color: white
}

.navigation-button.active svg path {
  stroke: white
}

.navigation-button:hover {
  background-color: rgb(58, 198, 42);
  border-top: 1px solid white;
}

.navigation-button:hover span {
  color: white
}

.navigation-button:hover svg path {
  stroke: white
}


.skeletonBox {
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.skeletonBox::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0));
  -webkit-animation: shimmer 2s infinite;
  animation: shimmer 2s infinite;
  content: "";
}

@-webkit-keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.groups-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 32px 16px;
  width: 100%;
  padding: 32px;
}

.groups-container .group {
  height: 192px;
  display: flex;
}

.groups-container .group .info-container {
  width: 100%;
  padding: 1.5em 2.5em 1.5em 1.8em;
  display: flex;
  flex-direction: column;
  place-content: space-between;
}

.groups-container .group .info-container .info-section {
  display: flex;
  place-content: space-between
}

.groups-container .group .info-container .info-section .info-text {
  color: white
}

.resource-container-skeleton {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px 16px;
  width: 100%;
  padding: 32px;
}

.resource-skeleton {
  height: 192px;
  display: flex;
  background-color: white;
}

.resource-skeleton .image-skeleton {
  min-width: 160px;
  background-color: #d2d6d7;
}

.resource-skeleton .container-skeleton {
  padding: 1.5em 2.5em 1.5em 1.8em;
  display: flex;
  flex-direction: column;
  place-content: space-between;
  width: 100%;
}

.resource-skeleton .container-skeleton .section-skeleton {
  display: flex;
  place-content: space-between;
  width: 100%;
}

.resource-skeleton .container-skeleton .title-skeleton {
  width: 250px;
  height: 23px;
  background-color: #d2d6d7;
}

.resource-skeleton .container-skeleton .icon-skeleton {
  width: 20px;
  height: 20px;
  background-color: #d2d6d7;
}

.resource-skeleton .container-skeleton .code-section-skeleton {
  display: flex;
  height: 20px;
}

.resource-skeleton .container-skeleton .code-skeleton {
  width: 100px;
  background-color: #d2d6d7;
  margin-right: 5px;
}

.resource-skeleton .container-skeleton .copy-skeleton {
  width: 17px;
  background-color: #d2d6d7;
}